<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title th:replace="fragments.html :: title"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav th:replace="fragments.html :: navBar"> </nav>
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-lg-4">
            <h1 class="fs-5">Deck <span th:text="${deckName}"/></h1>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Front</th>
                    <th scope="col">Back</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="card: ${cards}">
                        <td th:text="${card.front}" />
                        <td th:text="${card.back}" />
                    </tr>
                </tbody>
            </table>
            <div class="mb-3">
                <a class="btn btn-primary" th:href="@{/deck/{id}/add-card(id=${deckId})}">Add new card</a>
                <a class="btn btn-primary" th:href="@{/deck/{id}/learn-new(id=${deckId})}">Learn new</a>
            </div>
            <div>
                <a class="btn" th:href="@{/home}">Back to decks list</a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>